*.1
*.o
*.stash
*.Debug
*.Release
*.a
*.0
*.so
Makefile*
hg_display/debug/
hg_display/release/
hg_interact/debug/
hg_interact/release/
hg_utility/debug/
hg_utility/release/
hg_style/debug/
hg_style/release/

